{% use "bootstrap_4_horizontal_layout.html.twig" %}
{% extends 'layout.html.twig' %}
{% block user_content %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <label for="username">Nome de usuario:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Senha:</label>
    <input type="password" id="password" name="_password" />

    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Manter logado</label>

    <input type="submit" name="login" />
</form>
{% endblock %}