{% if is_granted('ROLE_USER') %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ 'main.homepage'|trans }}">
    <a class="nav-link" href="{{ path('home') }}">
        <i class="fas fa-clipboard-list"></i>
        <span class="nav-link-text">{{ 'main.homepage'|trans }}</span>
    </a>
</li>
{% endif %}