// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$icon-font-path: "~font-awesome/fonts/";

// set if you're also including font-awesome
$fa-font-path: "~font-awesome/fonts";

$enable-gradients: true;

$blue-100: #f8f9ff;
$blue-200: #e9ecff;
$blue-300: #dee2ff;
$blue-400: #ced4ff;
$blue-500: #adb5ff;
$blue-600: #868eff;
$blue-700: #4950ff;
$blue-800: #373aff;
$blue-900: #2125ff;
$blue-999: #171ca8;

$dark: $blue-900 !default;

/*
$nav-link-disabled-color:           $blue-100;
$navbar-dark-color:                 rgba($blue-100, .5);
$navbar-dark-hover-color:           rgba($blue-100, .75);
$navbar-dark-active-color:          $blue-200;
$navbar-dark-disabled-color:        rgba($blue-100, .25);

$navbar-dark-color:                 rgba($blue-300, .5);
$navbar-dark-hover-color:           rgba($blue-300, .75);
$navbar-dark-active-color:          $blue-300;
$navbar-dark-disabled-color:        rgba($blue-300, .25);
$navbar-dark-toggler-border-color:  rgba($blue-300, .1);
$nav-link-disabled-color:           $blue-600;
$nav-tabs-border-color:             $blue-300;
$nav-tabs-link-hover-border-color:  $blue-200 $blue-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $blue-700;
$nav-tabs-link-active-border-color: $blue-300 $blue-300 $blue-300;
*/

@import 'variables.scss';

// the ~ allows you to reference things in node_modules
// @import '~font-awesome/scss/font-awesome.scss';
@import '~startbootstrap-sb-admin/vendor/font-awesome/scss/font-awesome.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~startbootstrap-sb-admin/scss/sb-admin.scss';


@import 'bootswatch.scss';


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
label span.required {
  font-weight: bold;
  color: #ff4444;
  margin-right: 2px;
  margin-left: 2px;
}

#no-menu-footer footer.sticky-footer { width: 100%; }

.form-with-cols fieldset {
  border: 1px solid #aeb3b3;
  padding: 6px;
  border-radius: 0.25rem;
}
.form-with-cols fieldset label {
  font-size: 0.8em;
  font-weight: 600;
}

.bg-gradient-card-primary {
  background: -moz-linear-gradient(top, rgba(119,167,181,0.75) 0%, rgba(203,216,223,0.84) 94%, rgba(208,219,226,0.84) 100%);
  background: -webkit-linear-gradient(top, rgba(119,167,181,0.75) 0%, rgba(203,216,223,0.84) 94%,rgba(208,219,226,0.84) 100%);
  background: linear-gradient(to bottom, rgba(119,167,181,0.75) 0%, rgba(203,216,223,0.84) 94%,rgba(208,219,226,0.84) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf77a7b5', endColorstr='#d6d0dbe2',GradientType=0 );
}
.bg-gradient-card {
  background: #6ab1da linear-gradient(180deg, #f9fafb, #f8f9fa) repeat-x !important;
}

.bg-apps-0 {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.border-apps-0 {
  border-color: #1e5799 !important;
}
.bg-apps-1 {
  background: #4c9719; /* Old browsers */
  background: -moz-linear-gradient(top, #4c9719 0%, #88b56f 85%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c9719 0%,#88b56f 85%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c9719 0%, #88b56f 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c9719', endColorstr='#88b56f',GradientType=0 ); /* IE6-9 */
  color: $white;
}
.border-apps-1 {
  border-color: #4c9719 !important;
}
.bg-apps-2 {
  background: #f0b7a1; /* Old browsers */
  background: -moz-linear-gradient(top, #f0b7a1 0%, #bf6e4e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0b7a1 0%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0b7a1 0%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
  color: #332e2e;
}
.border-apps-2 {
  border-color: #f0b7a1 !important;
}
.bg-apps-3 {
  background: #cb60b3; /* Old browsers */
  background: -moz-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
}
.border-apps-3 {
  border-color: #cb60b3 !important;
}
.bg-apps-4 {
  background: rgb(180, 221, 180);
  background: -moz-linear-gradient(top, rgba(180, 221, 180, 1) 0%, rgba(131, 199, 131, 1) 17%, rgba(0, 87, 0, 1) 83%);
  background: -webkit-linear-gradient(top, rgba(180, 221, 180, 1) 0%, rgba(131, 199, 131, 1) 17%, rgba(0, 87, 0, 1) 83%);
  background: linear-gradient(to bottom, rgba(180, 221, 180, 1) 0%, rgba(131, 199, 131, 1) 17%, rgba(0, 87, 0, 1) 83%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#005700', GradientType=0);
}
.border-apps-4 {
  border-color: rgb(180, 221, 180) !important;
}
.bg-change-pass {
  background: #e5e696; /* Old browsers */
  background: -moz-linear-gradient(top, #e5e696 0%, #d1d360 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e5e696 0%,#d1d360 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e5e696 0%,#d1d360 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */
}
.border-change-pass {
  border-color: #e5e696 !important;
}
.bg-apps-manager {
  background: #ff7f04;
  background: -moz-linear-gradient(top, #ff7f04 0%, #ff7c00 23%, #ffa73d 72%, #ffb76b 100%);
  background: -webkit-linear-gradient(top, #ff7f04 0%,#ff7c00 23%,#ffa73d 72%,#ffb76b 100%);
  background: linear-gradient(to bottom, #ff7f04 0%,#ff7c00 23%,#ffa73d 72%,#ffb76b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f04', endColorstr='#ffb76b',GradientType=0 );
}
.border-change-pass {
  border-color: #ff7f04 !important;
}
.bg-custom-nav {
  background: rgb(4,73,153);
  background: -moz-linear-gradient(top, rgba(4,73,153,1) 0%, rgba(25,129,214,1) 86%, rgba(125,185,232,1) 100%);
  background: -webkit-linear-gradient(top, rgba(4,73,153,1) 0%, rgba(25,129,214,1) 86%, rgba(125,185,232,1) 100%);
  background: linear-gradient(to bottom, rgba(4,73,153,1) 0%, rgba(25,129,214,1) 86%, rgba(125,185,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044999', endColorstr='#7db9e8',GradientType=0 );
}
.bg-configuration {
  background: rgb(204,0,0);
  background: -moz-linear-gradient(top, rgba(204,0,0,1) 0%, rgba(204,106,106,1) 50%, rgba(204,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(204,106,106,1) 50%,rgba(204,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(204,0,0,1) 0%,rgba(204,106,106,1) 50%,rgba(204,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 );
}
.border-configuration {
  border-color: rgb(204,0,0) !important;
}
div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

$custom-nav-010: #e5fafa !default;
$custom-nav-hover: #f6fad6 !default;
$custom-bg-hover: #c97666 !default;
$custom-nav-100: #a8a9fa !default;
$custom-nav-200: #999cef !default;
$custom-nav-300: #8e92e6 !default;
$custom-nav-400: #7e84da !default;
$custom-nav-500: #5d65bd !default;
$custom-nav-600: #363e96 !default;
$custom-nav-700: #0900c4 !default;
$custom-nav-750: #054a9a !default;
$custom-nav-800: #044999 !default;
$custom-nav-900: #000079 !default;

$custom-color: #fafafa !default;
$custom-hover-color: #fffc67 !default;

// Color support for .navbar-custom
#mainNav.navbar-custom {
  .navbar-collapse {
    .navbar-sidenav {
      .nav-link-collapse:after {
        color: $white;
      }
      > .nav-item {
        > .nav-link {
          color: $custom-color;
          &:hover {
            background: $custom-bg-hover;
            color: $custom-color;
          }
        }
        .sidenav-second-level,
        .sidenav-third-level {
          > li > a {
            color: $custom-nav-010;
            &:focus,
            &:hover {
              background: $custom-bg-hover;
            }
          }
        }
      }
    }
    .navbar-nav > .nav-item.dropdown > .nav-link:after {
      color: $custom-nav-010;
    }

  }
  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-sidenav {
        background: transparent;
        li {
          &.active {
            a {
              color: $gray-600 !important;
              background: $custom-nav-600;
              &:focus,
              &:hover {
                background: $custom-bg-hover;
              }
            }
          }
        }
        > .nav-item {
          .sidenav-second-level,
          .sidenav-third-level {
            background: transparent;
          }
        }
      }
    }
  }
}
#mainNav.fixed-top .sidenav-toggler > .nav-item {
  background: darken($blue, 10%);
}

.bg-custom-nav a {
  color: $custom-color !important;
  background: transparent;
  &:focus,
  &:hover {
    color: $custom-color;
    background: $custom-bg-hover;
  }
}

#mainNav.navbar-custom {
  .navbar-collapse {
    .navbar-sidenav {
      .bg-apps-manager {
        .nav-link,
        .sidenav-second-level > li,
        .sidenav-second-level > li > a {
          color: $gray-900;
          &:focus,
          &:hover {
            color: #fbf884;
            font-weight: 700;
          }
        }
      }
      .bg-configuration {
        .nav-link,
        .sidenav-second-level > li,
        .sidenav-second-level > li > a {
          color: $gray-900;
          &:focus,
          &:hover {
            color: #fbf884;
            font-weight: 800;
          }
        }
      }
    }
  }
}
.card a {
  text-decoration: none;
}

#mainNav.navbar-dark {
  .navbar-collapse {
    .navbar-sidenav {
      .nav-link-collapse {
        background-color: darken($blue, 20%);
        &:after {
          color: $custom-color;
        }
      }
      > .nav-item {
        > .nav-link {
          color: $custom-color;
          &:hover {
            background: $custom-bg-hover;
            color: $custom-hover-color;
          }
        }
        .sidenav-second-level,
        .sidenav-third-level {
          > li > a {
            color: $custom-color;
            background-color: darken($blue, 20%);
            &:focus,
            &:hover {
              color: $custom-hover-color;
              background: $custom-bg-hover;
            }
          }
        }
      }
    }
    .navbar-nav > .nav-item.dropdown > .nav-link:after {
      color: $custom-hover-color;
      background-color: lighten($blue, 10%);
    }
    .collapsed {
      background-color: $blue !important;
    }
  }
  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-sidenav {
        background: $blue;
        li {
          &.active {
            a {
              color: white !important;
              background-color: lighten($blue, 10%);
              &:focus,
              &:hover {
                color: white;
              }
            }
          }
        }
        > .nav-item {
          .sidenav-second-level,
          .sidenav-third-level {
            background: lighten($blue, 10%);;
          }
        }
      }
    }
  }
}

.custom-file-input
{
  opacity: 100;
  border: 1px solid #666;
  border-radius: 3px 6px;
  padding: 3px;
  color: #2e2e2e;
  font-size: 0.7em;
}