<form method="post" action="{{ path('malote_malha_delete', {'id': malha.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ malha.id) }}">
    <button class="btn">Delete</button>
</form>